<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit (ingredientAdded)="onIngredientAdded($event)"></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a href="#" class="list-group-item" style="cursor: pointer;"             
            *ngFor="let ingredient of ingredients">
                {{ingredient.name}} ({{ingredient.quantity}})
            </a>
        </ul>

        <p appBasicHighlight>This is my own directive</p>
        <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">This is my second own directive</p>
        <div [ngSwitch]="value">
            <p *ngSwitchCase="5">Value is 5</p>
            <p *ngSwitchCase="15">Value is 15</p>
            <p *ngSwitchCase="25">Value is 25</p>
            <p *ngSwitchDefault>Value is default</p>
        </div>

    </div>
</div>